body {
    padding: 70px;
}
.forgotPassword{
    margin-top: 40px;
    text-align: left;
}
.not{
    margin-top: -90px;
   margin-left: 165px;
}
.back{
    float: right;
    margin-right: 50px;
    margin-top: -28px;
}
.flag{
    padding: 80px 15px;
    text-align: center;
}

